<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.admin.claire.garbag_truck">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/transport"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListViewActivity"
            android:screenOrientation="portrait" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- 所有垃圾資料地圖元件 -->
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" />

        <!-- 垃圾車明細元件 -->
        <activity
            android:name=".Garbagetruck_List_Activity"
            android:screenOrientation="portrait" />

        <!-- 記事項目元件 -->
        <activity
            android:name=".NotesActivity"
            android:screenOrientation="portrait">
            <intent-filter>

                <!-- 新增用的名稱 -->
                <action android:name="com.admin.claire.garbag_truck.ADD_ITEM" />
                <!-- 修改用的名稱 -->
                <action android:name="com.admin.claire.garbag_truck.EDIT_ITEM" />
                <!-- 一定要加入，內容固定不變 -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Info項目元件 使用Dialog方式呈現 -->
        <activity
            android:name=".InfoActivity"
            android:theme="@style/Dialog" />

        <!-- 選擇顏色項目元件 使用Dialog 方式呈現-->
        <activity android:name=".ColorActivity"
            android:theme="@style/DialogColor">
            <!-- 加入設定元件啟動用的Action名稱 mypreference.xml，也加入啟動選擇顏色元件的設定-->
            <intent-filter>
                <action android:name="com.admin.claire.garbag_truck.CHOOSE_COLOR"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <!-- 設定元件 Preference -->
        <activity android:name=".preference.PrefActivity" />
    </application>

</manifest>