<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.admin.claire.garbag_truck"
    android:versionCode="2"
    android:versionName="1.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 需要攝錄鏡頭設備 -->
    <uses-feature android:name="android.hardware.camera" />
    <!-- 寫入外部儲存設備 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 接收開機完成廣播事件 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 加入震動的授權 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 檢查網路狀態的權限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--
    網路定位的權限(不精準)
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    -->
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <!-- GPS定位權限(精準) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/garbagetruck_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/garbagetruck_icon"
        android:supportsRtl="true"
        android:theme="@style/CustomerTheme_Blue">
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListViewActivity"
            android:label="@string/search"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- 所有垃圾資料地圖元件 -->
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" />

        <!-- 垃圾車明細元件 -->
        <activity
            android:name=".Garbagetruck_List_Activity"
            android:screenOrientation="portrait" />

        <!-- 記事項目元件 -->
        <activity
            android:name=".NotesActivity"
            android:label="@string/notebook"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>

                <!-- 新增用的名稱 -->
                <action android:name="com.admin.claire.garbag_truck.ADD_ITEM" />
                <!-- 修改用的名稱 -->
                <action android:name="com.admin.claire.garbag_truck.EDIT_ITEM" />
                <!-- 一定要加入，內容固定不變 -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Info項目元件 使用Dialog方式呈現 -->
        <activity
            android:name=".InfoActivity"
            android:label="@string/app_name"
            android:theme="@style/Dialog" />

        <!-- 選擇顏色項目元件 使用Dialog 方式呈現 -->
        <activity
            android:name=".ColorActivity"
            android:label="@string/tag"
            android:theme="@style/DialogColor">

            <!-- 加入設定元件啟動用的Action名稱 mypreference.xml，也加入啟動選擇顏色元件的設定 -->
            <intent-filter>
                <action android:name="com.admin.claire.garbag_truck.CHOOSE_COLOR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 設定元件 Preference -->
        <activity
            android:name=".preference.PrefActivity"
            android:label="@string/tag"
            android:theme="@style/DialogColor" />

        <!-- 檢視照片元件 -->
        <activity android:name=".PictureActivity" />

        <receiver
            android:name=".broadcast.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".broadcast.InitAlarmReceive"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- 小工具元件 -->
        <receiver android:name=".appwidget.ItemAppWidget">

            <!-- 一定要加入這個Action名稱的設定 -->
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <!-- 使用android:resource指定小工具專用設定檔的資源名稱 -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/item_app_widget_info" />
        </receiver>
        <!-- 小工具設定元件 -->
        <activity android:name=".appwidget.ItemAppWidgetConfigureActivity">

            <!-- 一定要加入這個設定 -->
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".drawerlayout.AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".drawerlayout.DirectionsActivity"
            android:label="@string/direction"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".preference.ThemeToggle"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>